<div layout="column" style="padding: 20px;">
    <div ng-controller="dashboardCtrl" layout="row" style="height: 400px;">
        <div flex>
            <h2>Total daily pudding items sold</h2>
            <div line-chart ng-model="lineChart"></div>
        </div>
        <div flex>
        </div>
    </div>

    <p></p>
        <div ng-controller="dashboardCtrl2" layout="row" style="height: 400px;">
        <div flex>
            <h2>Avg daily pudding items</h2>
            <div line-chart ng-model="lineChart"></div>
        </div>
        <div flex>
        </div>
    </div>

</div>
